.container  {
    display: flex;
    width: 103px;
    background-color: lightpink;
    flex-direction: column;
    flex-wrap: wrap;
}

.item1{ 
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.item2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.item3{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}